pandas
torchvision==0.14.1
transformers==4.20.1
tokenizers<0.13
optimum-graphcore
datasets
matplotlib
scikit-learn
graphcore-cloud-tools[logger] @ git+https://github.com/graphcore/graphcore-cloud-tools
